<div class="container">
    <mat-card *ngIf="!(isMobile$ | async)">
        <mat-horizontal-stepper linear>
            <mat-step label="Destination & type de tour" [stepControl]="contactForm">
                <app-contact-form></app-contact-form>
            </mat-step>
            <mat-step label="Information de contact">
                <app-contact-form></app-contact-form>
            </mat-step>
            <mat-step label="Votre voyage">
                C
            </mat-step>
            <mat-step label="Confirmation">
                C
            </mat-step>
            <!---->
            <ng-template matStepperIcon="local_airport">
                <mat-icon>local_airport</mat-icon>
            </ng-template>
        </mat-horizontal-stepper>
    </mat-card>
</div>
<mat-vertical-stepper linear *ngIf="isMobile$ | async">
    <mat-step label="Destination & type de tour" [stepControl]="contactForm">
        <app-contact-form></app-contact-form>
    </mat-step>
    <mat-step label="Information de contact">
        <app-contact-form></app-contact-form>
    </mat-step>
    <mat-step label="Votre voyage">
        C
    </mat-step>
    <mat-step label="Confirmation">
        C
    </mat-step>
</mat-vertical-stepper>
