<div [formGroup]="form" class="mt-50">
    <div fxLayout="row wrap" class="form-row">
        <div class="form-cell" fxFlex="100" fxFlex.gt-xs="50" formControlName='destinations' appMultiCheckboxes>
            <label class="app-label">Destinations</label>
            <mat-checkbox *ngFor="let destination of destinations" 
                appCheckboxItem
                class="d-block mb-50"
                [value]="destination.value">{{ destination.label }}</mat-checkbox>
        </div>
    </div>
    <div fxLayout="row wrap" class="form-row">
        <div class="form-cell" fxFlex="100" fxFlex.gt-xs="50" appMultiCheckboxes>
            <label class="app-label">Type de tour</label>
            <mat-radio-group aria-label="Type de tour" formControlName='type'>
                <mat-radio-button *ngFor="let type of types" [value]="type.value" class="d-block mb-50">{{ type.label }}</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="form-cell" fxFlex="100" fxFlex.gt-xs="50" formControlName='attendants' appMultiCheckboxes>
            <label class="app-label">Accompagnateurs</label>
            <mat-checkbox *ngFor="let attendant of attendants" 
                appCheckboxItem
                class="d-block mb-50"
                [value]="attendant.value">{{ attendant.label }}</mat-checkbox>
        </div>
    </div>
</div>